* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

.container {
  display: flex;
  /* width: 200px; */
  flex-wrap: wrap;
}
